/* All styles for your Card Components live here */
.card-banner {
    background-image: url("https://tk-assets.lambdaschool.com/fcd75197-7d12-46ec-bc9e-4130f34822fa_reactbackground.png");
    background-color: #000000;
    width: 90%;
    height: auto;
}